{% extends 'base.html' %}

{% block content %}
<p>{{ movies|length }} 列表项</p>
<form method="post">
    基金代码 <input type="text" name="title" autocomplete="off" required>
    指数代码 <input type="text" name="year" autocomplete="off" required>
    <input class="btn" type="submit" name="submit" value="添加">
</form>
<ul class="movie-list">
    {% for movie in movies %}
    <li>{{ movie.title }} - {{ movie.year }}
        <span class="float-right">
            <a class="btn" href="{{ url_for('edit', movie_id=movie.id) }}">编辑</a>
            <form class="inline-form" method="post" action="{{ url_for('.delete', movie_id=movie.id) }}">
                <input class="btn" type="submit" name="delete" value="删除" onclick="return confirm('Are you sure?')">
            </form>
            <a class="imdb" href="https://xueqiu.com/S/{{ movie.title }}" target="_blank" title="Find this on 雪球">基金</a>
            <a class="imdb" href="https://xueqiu.com/S/{{ movie.year }}" target="_blank" title="Find this on 雪球">指数</a>
        </span>
    </li>
    {% endfor %}
</ul>
{% autoescape false %}
{{ tableinfo }}
{% endautoescape %}
{% endblock %}